<nav>
	<ul>
		<li><NavLink href="/" Match="NavLinkMatch.All">الرئيسية</NavLink></li>
		<li><NavLink href="/products">المنتجات</NavLink></li>
		<li><NavLink href="/cart">السلة</NavLink></li>
		<li><NavLink href="/login">دخول</NavLink></li>
		<li><NavLink href="/register">تسجيل</NavLink></li>
	</ul>
</nav>